<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%highlightError{[%d{HH:mm:ss}] - %-5level - %-20C{1}: %minecraftFormatting{%msg}%n%xEx}</Property>
    </Properties>

    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </TerminalConsole>

        <RollingFile name="fileLogger" fileName="./logs/brick-latest.log"
                     filePattern="./logs/brick-zarchive-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info"/>
        </Root>
    </Loggers>
</Configuration>